.doc-wrap {
    display: flex;
    scrollbar-gutter: stable;
}

.place-holder {
    width: 20vw;
    background-color: red;
}


/* right section */
.outlet-wrap {
    flex-grow: 1;
}


/* sidebar */
.sidebar-wrap {
    width: 20vw;
    height: 100vh;
    background-color: var(--darkblue);
    display: block;
    position: fixed;
    padding-top: 1em;
    overflow: auto;
}

.p-card {
    box-sizing: border-box;
    width: 75%;
    margin: 1em auto;
    padding: 10px;
    text-align: center;
    color: black;
    font-size: 1rem;
    border-radius: 100px;
    background-color: white;
    transition: transform 0.3 ease;
}
.p-card:hover {
    animation: gentle-up-down 0.7s ease;
}
@keyframes gentle-up-down {
  0%, 55%, 100% {
    transform: translateY(0); /* Start and end position */
  }
  30% {
    transform: translateY(-2px); /* Move up by 10 pixels */
  }
  75% {
    transform: translateY(-1px); /* Move up by 10 pixels */
  }
}


/* when outlet is not loaded yet*/
.not-loaded-wrap {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.circular-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}