@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Itim&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');



:root {
  font-family: 'Open Sans', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: white;
  /* background-color: #242424; */
  
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary-blue: #0ACDFF;
  --secondary-blue: #7AB9E1;
  --primary-red: #fcb7c5;
  --secondary-red: #f59daf;
  --primary-pink: #FBDCE2;
  --primary-green: #60AB9A;
  --primary-grey: #D9DCD6;
  --primary-orange: #F37748;
  --darkblue: #094D92;
  --davy-grey: #4D5061;
  --cadet-grey: #9AADBF;
  --logo-color-1: #0B8FAC;
  --logo-color-2: #7BC1B7; 
  --ghost-white: #F4F4F9;
}

* {
  font-family: 'Open Sans';
}

body {
  margin: 0;
  padding: 0;
}


a {
  color: inherit; 
  text-decoration: none; 
  background: none; 
  padding: 0; 
  margin: 0; 
  border: none; 
  font-size: inherit; 
  font-family: inherit; 
  font-weight: inherit; 
  line-height: inherit; 
  display: inline; 
}


.btn {
  box-sizing: border-box;
  border-radius: 5px;
  border: 3px solid transparent;

  font-size: 1em;
  font-weight: 400;
  font-family: inherit;

  background-color: white;

  color: black;
  cursor: pointer;
  transition: border-color .5s;
}

.btn:hover {
  border-color: var(--primary-blue);
} 

/* .btn:focus,
.btn:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}  */
