.input-wrap {
    width: 50vw;
    margin: 3em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 20px 2px var(--primary-grey);
}

.form-wrap {
    display: flex;
    flex-direction: column;
    width: 70%;
}
.form-wrap>div {
    margin-bottom: 40px;
}

.line {
    display: flex;
}
.line>div {
    width: 50%;
}
.line>:first-child {
    margin-right: 1em;
}


.submit-wrap {
    display:flex;
    justify-content: center;
}