.link {
  color: black;
}

.text {
  color: black;
  font-family: Arial, sans-serif;
  text-align: center;
  border: 20px solid;
  border-color: rgb(236, 237, 246);
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 90%;
  max-width: 455px;
  padding: 12px;
  border-radius: 11px;
  font-size: 30px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  margin-bottom: 30px;
}

.done {
  background-color: var(--primary-green);
  width: 150px;
  height: 150px;
  border-radius: 75px;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.packet {
  color: black;
  background-color: var(--primary-blue);
  font-family: Arial, sans-serif;
  text-align: center;
  align-self: center;
  align-items: center;
  margin-top: 27px;
  gap: 27px;
  border-radius: 11px;
  margin: auto;
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 10%;
  justify-items: center;
  padding: 10px;
}

.header {
  font-family: CourierNew, monospace; 
}

.logo_patient_packets {
  color: black;
  display: flex;
}

.treatlie {
  position: relative; 
  top: 10px;
  width: 100px;
  margin: 20px;
}

.pic {
  width: 50px;
  transition: transform 0s;
}

.each_packet {
  display: flex;
  background-color: rgb(255, 255, 255);
  border-radius: 11px;
  margin: 20px;
  padding: 10px;
  cursor: pointer;
}

.each_packet:hover {
  background-color: var(--primary-grey);
}

.each_packet:hover .pic {
  transition: transform 1s;
  transform: rotate(360deg);
}

.packet_name {
  margin: 25px;
  margin-right: 0px;
}

.stat {
  margin: 25px;
  margin-right: 10px;
  margin-left: auto;
}